<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Data-Base Project Test Site </title>
    <!--bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <!-- adding favicon-->
    <link rel="stylesheet" href="css/styles.css">
    <!--adding fonts from google -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Sacramento&display=swap"
          rel="stylesheet">
    <!--font awsome -->
    <script src="https://kit.fontawesome.com/34861f07f9.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</head>

<body>
<h1> this is <%= pageName %></h1>

<div class="container-fluid p-3 mb-2 bg-light text-dark">


    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="">Data-Base Project Test Site</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/search"><img src="statue-of-liberty.png">
                    חיפוש חופשה</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/update"><img src="statue-of-liberty.png">עדכון מידע</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/delete"><i class="fas fa-sign-in-alt"></i>מחיקת מידע</a>
            </li>
        </ul>

    </nav>


</div>

<!--search page content-->
<% if(pageName == "search page") { %>
    <div class="container">


        <form class="" action="/search" method="post">
            <div class="form-group">
                <label for="exampleFormControlSelect1">1.favorite food</label>
                <!-- need to have multi choose-->
                <select class="selectpicker form-control" multiple data-live-search="true" name="style" required>
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                    <option>Pizza/Italian</option>
                    <option>Donuts</option>
                    <option>Delicatessen</option>
                    <option>Jewish/Kosher</option>
                    <option>Sandwiches</option>
                    <option>Russian</option>
                    <option>Vietnamese/Cambodian/Malaysia</option>
                    <option>Other</option>
                    <option>Sandwiches/Salads/Mixed Buffet</option>
                    <option>Peruvian</option>
                    <option>Tex-Mex</option>
                    <option>Bottled beverages, including water, sodas, juices, etc.</option>
                    <option>Irish</option>
                    <option>French</option>
                    <option>German</option>
                    <option>Ice Cream, Gelato, Yogurt, Ices</option>
                    <option>Middle Eastern</option>
                    <option>Juice, Smoothies, Fruit Salads</option>
                    <option>Chicken</option>
                    <option>Australian</option>
                    <option>Bangladeshi</option>
                    <option>Creole</option>
                    <option>Hotdogs</option>
                    <option>Soups</option>
                    <option>Hotdogs/Pretzels</option>
                    <option>English</option>
                    <option>Hawaiian</option>
                    <option>Pancakes/Waffles</option>
                    <option>Scandinavian</option>
                    <option>Filipino</option>
                    <option>Californian</option>
                    <option>Polish</option>
                    <option>Barbecue</option>
                    <option>Afghan</option>
                    <option>Eastern European</option>
                    <option>Cajun</option>
                    <option>Chilean</option>
                    <option>Indonesian</option>
                    <option>Egyptian</option>
                    <option>Moroccan</option>
                    <option>Ethiopian</option>
                    <option>Soups & Sandwiches</option>
                    <option>Fruits/Vegetables</option>
                    <option>Southwestern</option>
                    <option>Nuts/Confectionary</option>
                    <option>Armenian</option>
                    <option>Chinese</option>/Cuban
                    <option>Not Listed/Not Applicable</option>
                    <option>Creole/Cajun</option>
                    <option>Portuguese</option>
                    <option>Iranian</option>
                    <option>Polynesian</option>
                    <option>Czech</option>
                </select>

<!--                <select class="form-control" name="style">-->
<!--                    <option>Chinese</option>-->
<!--                    <option>Japanese</option>-->
<!--                    <option>italian</option>-->
<!--                    <option>jewish</option>-->
<!--                    <option>pizza</option>-->
<!--                </select>-->
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">2.Max Distance</label>
                <input type="double" class="form-control" placeholder="e.g 12.5" name="distance">
            </div>

            <div class="form-row align-items-center">
                <label for="exampleFormControlInput1">3.Rating for the requested restaurants</label>
                <input type="number" class="form-control" placeholder="Max" name="maxRateRestaurant">
                <input type="number" class="form-control" placeholder="Min" name="minRateRestaurant">
            </div>


            <div class="form-row align-items-center">
                <label for="exampleFormControlInput1">4.cost range per night in $</label>
                <input type="number" class="form-control" placeholder="Max" name="maxNightCost">
                <input type="number" class="form-control" placeholder="Min" name="minNightCost">
            </div>
            <div class="form-row align-items-center">
                <label for="exampleFormControlInput1">5.max and min range for hotel</label>
                <input type="number" class="form-control" placeholder="Max" name="maxRateHA">
                <input type="number" class="form-control" placeholder="Min" name="minRateHA">
            </div>
            <label for="exampleFormControlInput1">6.are you ready to include critical reviews?</label>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="critical">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
<% } %>

<!--update page content-->
<% if(pageName == "update page") { %>

    <div class="container">
        <form class="" action="/update" method="post">
            <div class="form-group">
                <label for="exampleFormControlSelect1">1.where did you visit?</label>
                <select class="form-control" name="place">
                    <option>airbnb</option>
                    <option>restaurants</option>
                    <option>hotels</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">2.Name:</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="FirstName" placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="LastName" placeholder="Last name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">3.id of the place</label>
                <input type="number" name="id" class="form-control" placeholder="e.g 132">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">4.Grade of the place</label>
                <input type="number" name="grade" min="1" max="100" class="form-control" placeholder="1-100">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">5.Comments:</label>
                <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>



<% } %>

<!--delete page content-->
<% if(pageName == "delete page") { %>
    <div class="container">


        <form class="" action="/delete" method="post">
            <div class="form-group">
                <label for="exampleFormControlSelect1">1.where did you visit?</label>
                <select name="place" class="form-control">
                    <option>airbnb</option>
                    <option>restaurants</option>
                    <option>hotels</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">2.id of the place</label>
                <input type="number" name="id" class="form-control" placeholder="e.g 132">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>


<% } %>

<!--thanks page content-->
<% if(pageName == "thanks page") { %>
        <form class="" action="/thanks">
            <h1> thank you! </h1>
            <h2> we hope you enjoyed your trip:) </h2>
        </form>
<% } %>
<!--output page content-->
<% if(pageName == "output page") { %>
    <form class="" action="/output">
        <h1> we are looking for the best vacation for you </h1>
        <h2> it is coming soon... </h2>
    </form>
<% } %>
<script src="scripts.js"></script>
</body>


</html>
